body {
  padding: 4rem 0;
  font-family: dana;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.delete-btn {
  width: 1.2rem;
  height: 1.2rem;
}

.delete-btn:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: rgb(156, 156, 156);
}

input[type="checkbox"] {
  cursor: pointer;
}
